NEXT_PUBLIC_SUPABASE_URL=https://wctrthtnhfrbtbpiyove.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjdHJ0aHRuaGZyYnRicGl5b3ZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDcxNTgyOCwiZXhwIjoyMTA2MjkxODI4fQ.j4nPsJb6-1ngzXi7d69ax1O4fpaSKhFnnijOJG-1BCg
SUPABASE_STORAGE_BUCKET=product-images
ADMIN_PASSWORD=Hublot1233
ADMIN_SESSION_SECRET=091f1e7d9d4d2fe84d66692871e499db8cb229dcdef4b31b7e09fa62fc9f3e57
